body{
	background-image: -webkit-gradient(linear, 
		left top, left bottom, 
		from(rgba(0,0,0, 0.7)), 
		to(rgba(0,0,0, 0.7))), url(../img/bg.png);
	background-image: -webkit-linear-gradient(rgba(0,0,0, 0.7), 
		rgba(0,0,0, 0.7)), url(../img/bg.png);
	background-image: -o-linear-gradient(rgba(0,0,0, 0.7), 
		rgba(0,0,0, 0.7)), url(../img/bg.png);
	background-image: linear-gradient(rgba(0,0,0, 0.7), 
		rgba(0,0,0, 0.7)), url(../img/bg.png);
	
	background-size:cover;
    height: 100vh;
    font-weight: 300;
    position: relative;
    color: #555;


}
img{
	max-width:100%;
}

h2{
	font-size:1.8rem;
	font-weight:400;
}

